mat-card {
    margin: 8px;
}

ppw-table {
    --ppw-table-height: 200px;
}

mat-card-content.mat-mdc-card-content.persons-table {
    padding: 0 0 16px 0;
    &:first-child {
        padding-top: 0;
    }
}
