<ppw-search-filter
    *ngIf="searchForm"
    (search)="performSearch()"
    (reset)="performReset()"
    [submitDisabled]="searchForm.invalid">
    <form [formGroup]="searchForm" class="flex-row gap-8">
        <mat-form-field>
            <mat-label>firstName</mat-label>
            <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>lastName</mat-label>
            <input matInput formControlName="lastName" />
        </mat-form-field>
    </form>
</ppw-search-filter>
<mat-card>
    <mat-card-content>
        <ppw-table
            [columns]="columns"
            [data]="data"
            [enableRowSelection]="true"
            [options]="tableOptions"
            (selectionChanged)="updateSelected($event)"></ppw-table>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="lastClickedRow">
    <mat-card-header>
        <mat-card-title>Last clicked row</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>{{ lastClickedRow | json }}</div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="selectedPlayersSignal().length">
    <mat-card-header>
        <mat-card-title>Selected ID's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span *ngFor="let item of selectedPlayersSignal(); let last = last">
            <span>{{ item.id }}</span>
            <span *ngIf="!last">, </span>
        </span>
    </mat-card-content>
</mat-card>

<ng-template #playerStatusTemplate let-record>
    <ng-container [ngSwitch]="record.active">
        <mat-icon *ngSwitchCase="true">check</mat-icon>
        <mat-icon *ngSwitchCase="false">close</mat-icon>
    </ng-container>
</ng-template>
