<ppw-search-filter
    *ngIf="searchForm"
    (search)="performSearch()"
    (reset)="performReset()"
    [submitDisabled]="searchForm.invalid"
>
    <form [formGroup]="searchForm" class="flex-row gap-8">
        <mat-form-field>
            <mat-label>firstName</mat-label>
            <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>lastName</mat-label>
            <input matInput formControlName="lastName" />
        </mat-form-field>
    </form>
    <div>
        <mat-slide-toggle [(ngModel)]="enableRowDrag">Allow row dragging</mat-slide-toggle>
    </div>
</ppw-search-filter>
<ppw-async-result [asyncResult]="players$ | async" [pending]="pending$ | async">
    <ng-template ppw-async-result-success let-players>
        <mat-card>
            <mat-card-content>
                <ppw-table
                    [data]="players.entity.items"
                    [enableRowSelection]="true"
                    [enableRowDrag]="enableRowDrag"
                    [options]="tableOptions"
                    [trackBy]="trackByFn"
                    (orderChanged)="orderChanged($event)"
                    (selectionChanged)="updateSelected($event)"
                >
                    <ppw-column name="firstName" type="text" label="First name"></ppw-column>
                    <ppw-column name="lastName" type="text" label="Last name"></ppw-column>
                    <ppw-column name="birthDate" type="date" label="Birth date"></ppw-column>
                    <ppw-column name="age" type="number" label="Age"></ppw-column>
                    <ppw-column
                        name="income"
                        type="number"
                        label="Income"
                        [numberFormatFn]="formatIncome.bind(this)"
                    ></ppw-column>
                    <ppw-column
                        name="bonus"
                        type="number"
                        label="Bonus"
                        [numberFormatFn]="formatBonus.bind(this)"
                    ></ppw-column>
                    <ppw-column name="rowIndex" type="template" label="Row index">
                        <ng-template ppw-column-cell let-rowIndex="rowIndex">
                            <span>{{ rowIndex }}</span>
                        </ng-template>
                    </ppw-column>
                    <ppw-column name="active" type="template">
                        <ng-template ppw-column-header>
                            <button mat-icon-button (click)="addPlayer()">
                                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                            </button>
                        </ng-template>
                        <ng-template ppw-column-cell let-record>
                            <ng-container [ngSwitch]="record.active">
                                <mat-icon *ngSwitchCase="true">check</mat-icon>
                                <mat-icon *ngSwitchCase="false">close</mat-icon>
                            </ng-container>
                        </ng-template>
                    </ppw-column>
                </ppw-table>
                <ppw-pagination-bar
                    [pagedAsyncResult]="players"
                    (page)="handlePageEvent($event)"
                    [pageSizeOptions]="[2, 5, 10, 20, 50]"
                    [showFirstLastButtons]="true"
                ></ppw-pagination-bar>
            </mat-card-content>
        </mat-card>
    </ng-template>
</ppw-async-result>

<mat-card *ngIf="playersToSave?.length">
    <mat-card-header>
        <mat-card-title>Players after reordering</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let p of playersToSave">{{ p | json }}</div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="lastClickedRow">
    <mat-card-header>
        <mat-card-title>Last clicked row</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>{{ lastClickedRow | json }}</div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="selectedPlayersSignal().length">
    <mat-card-header>
        <mat-card-title>Selected ID's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span *ngFor="let item of selectedPlayersSignal(); let last = last">
            <span>{{ item.id }}</span>
            <span *ngIf="!last">, </span>
        </span>
    </mat-card-content>
</mat-card>
