<ppw-wireframe
    [navigationItems]="getNavigationItems()"
    [sidebarOptions]="sidebarOptions"
    [toolbarHeightPx]="toolbarHeightPx">
    <ng-container ppw-toolbar-left-content *ngIf="showToolbarLogo">
        <img
            class="toolbar-left-logo"
            ngSrc="{{ toolbarLogoUrl }}"
            alt="Logo"
            height="{{ toolbarLogoHeight }}"
            width="{{ toolbarLogoWidth }}"
            priority="eager"
    /></ng-container>
    <ng-container ppw-toolbar-right-content>
        <mat-icon>person</mat-icon>
    </ng-container>
    <ng-container ppw-sidebar-top-content></ng-container>
    <ng-container ppw-sidebar-bottom-content>
        <div class="flex-column">
            <div class="page-toggles flex-column gap-8">
                <mat-slide-toggle [(ngModel)]="showToolbarLogo">Show logo</mat-slide-toggle>
                <mat-slide-toggle [(ngModel)]="sidebarOptions.showPageTitle">Show title</mat-slide-toggle>
            </div>
            <div class="version-info">
                <div>v0.0.38</div>
            </div>
        </div>
    </ng-container>
</ppw-wireframe>
