.shape-example-element-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    &__element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100px;
        height: 100px;

        color: white;
        background: darkred;
    }
}
