<mat-card>
    <mat-card-content class="form-table">
        <form [formGroup]="todoForm">
            <ng-container formArrayName="todos">
                <ppw-form-table [data]="todos" [options]="tableOptions" [trackBy]="trackByFn">
                    <ppw-column name="label" type="template" label="Todo">
                        <ng-template ppw-column-cell let-record>
                            <mat-form-field [appearance]="'outline'"
                                ><input matInput [formControl]="record.get('label')"
                            /></mat-form-field>
                        </ng-template>
                    </ppw-column>
                    <ppw-column name="actions" type="template">
                        <ng-template ppw-column-cell></ng-template>
                        <ng-template ppw-column-header>
                            <button mat-icon-button (click)="addItem()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-template>
                    </ppw-column>
                </ppw-form-table>
            </ng-container>
        </form>
    </mat-card-content>
</mat-card>
