/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

$ppw-primary-palette: (
    50: #e0f3e8,
    100: #b3e1c5,
    200: #80cd9f,
    300: #4db978,
    400: #26aa5b,
    500: #009b3e,
    600: #009338,
    700: #008930,
    800: #007f28,
    900: #006d1b,
    A100: #9cffac,
    A200: #69ff81,
    A400: #36ff56,
    A700: #1dff41,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ppw-ui-primary: mat.m2-define-palette($ppw-primary-palette);
$ppw-ui-accent: mat.m2-define-palette(mat.$m2-blue-palette, 200, 100, 400);

// The warn palette is optional (defaults to red).
$ppw-ui-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ppw-ui-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $ppw-ui-primary,
            accent: $ppw-ui-accent,
            warn: $ppw-ui-warn
        ),
        typography: mat.m2-define-typography-config()
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ppw-ui-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    .mat-mdc-card-title {
        --mat-card-title-text-size: 16px;
    }

    --ppw-app-wireframe-drawer-width: 250px;

    --ppw-confirmation-dialog-header-background-color: #{mat.m2-get-color-from-palette($ppw-primary-palette, 500)};
    --ppw-confirmation-dialog-header-text-color: #{mat.m2-get-contrast-color-from-palette($ppw-primary-palette, 500)};

    --ppw-expandable-card-header-text-color: white;
    --ppw-expandable-card-header-background-color: #6eb343;
    --ppw-expandable-card-header-indicator-color: white;

    --ppw-loader-content-padding: 16px;

    --ppw-message-bar-warning-text-color: black;

    --ppw-sidenav-background-color: #18428c;
    --ppw-sidenav-navigation-item-icon-color: #6eb343;
    --ppw-sidenav-close-button-color: white;
    --ppw-sidenav-navigation-item-external-icon-color: rgba(255, 255, 255, 0.15);

    --ppw-table-row-highlight-background-color: rgba(0, 0, 255, 0.03);
    // This can't be a transparent color since this would show overlapping content
    --ppw-table-row-highlight-sticky-background-color: rgb(239, 239, 255);

    --ppw-toolbar-page-title-font-size: 20px;
    --ppw-toolbar-page-title-text-color: #18428c;

    --ppw-dashboard-items-table-width: 750px;
    --ppw-dashboard-items-table-primary-color: #18428c;
    --ppw-dashboard-items-table-background-color: #6eb343;
    --ppw-dashboard-wrapper-container-vertical-margin: 32px;
    --ppw-dashboard-items-card-margin: 8px;
}

ppw-wireframe.flat {
    background: #18428c;

    --ppw-app-wireframe-drawer-border: none;
    --ppw-page-container-background: #18428c;
    --ppw-toolbar-background: #18428c;
    --ppw-toolbar-page-title-text-color: white;
    --ppw-toolbar-border-bottom: none;
    --ppw-toolbar-box-shadow: none;
}

.no-margins {
    margin: 0;
}

.in-page-title {
    margin: 8px 0;
    font-size: 1.1em;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-content-space-between {
    align-content: space-between;
}

.full-width {
    width: 100%;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.padding-top-8 {
    padding: 8px;
}

.padding-8 {
    padding: 8px;
}

.text-right {
    text-align: right;
}

table {
    tfoot {
        tr {
            td {
                font-weight: bold;
            }
        }
    }
}

ppw-form-table {
    mat-form-field {
        margin: 4px 0;
    }
}

.clickable-list-item {
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        @include mat.elevation(4);
    }
}

mat-card.highlighted-card {
    background-color: mat.m2-get-color-from-palette($ppw-ui-accent);
}

.ppw-table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ddd;
}

.ppw-table-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: mat.m2-get-color-from-palette($ppw-ui-primary);
}

.ppw-table-container::-webkit-scrollbar-button,
.ppw-table-container::-webkit-scrollbar-track,
.ppw-table-container::-webkit-scrollbar-track-piece,
.ppw-table-container::-webkit-scrollbar-corner,
.ppw-table-container::-webkit-resizer {
    display: none;
}

.ppw-table-container::-webkit-scrollbar-track-piece:start {
    margin-top: 200px;
}

div.page-toggles {
    mat-slide-toggle {
        div.mdc-form-field {
            label {
                color: white;
            }
        }
    }
}

ppw-search-filter {
    mat-card {
        margin: 8px;
    }
}

mat-expansion-panel.ppw-expandable-panel {
    margin: 8px;

    &.mat-expansion-panel-spacing:first-child {
        margin-top: 8px !important;
    }
    &.mat-expansion-panel-spacing:last-child {
        margin-bottom: 8px !important;
    }
}
