name: Build & Test

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v3
              with:
                  node-version: '18.x'
                  cache: 'npm'
            - run: npm install
            - run: npm run ci:lint
            - run: npm run ci:build-libs
            - run: npm run ci:test-libs
